/**
 * Abstracts
 * 
 * CSS classes present here should not be used directly, but other classes 
 * should extend them to make certain features available to them. 
 */

.abstract-box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.abstract-white-box {
    @extend .abstract-box-shadow;
    background-color: #fff;
    padding: 40px;
    h2 {
        margin-bottom: 40px;
        color: #4a4a4a;
        font-weight: bold;
    }
}

.abstract-table {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
    position: relative;
    h2 {
        margin-bottom: 40px;
    }
    >table {
        width: 100%;
        border: 0;
        border-collapse:collapse;
        >thead {
            >tr {
                >th {
                    font-size: 14px;
                    color: #5c5c5c;
                    text-transform: uppercase;
                    text-align: left;
                    padding: 15px 15px 15px 30px;
                    border: 1px solid #e3e3e3;
                    &:first-child {
                        padding-left: 40px;
                        border-left: 0;
                    }
                    &:last-child {
                        padding-right: 40px;
                        border-right: 0;
                    }
                }
            }
        }
        >tbody {
            >tr {
                height: 90px;
                >td {
                    border-top: 0;
                    border-bottom: 0;
                    text-align: left;
                    &:first-child {
                        padding-left: 40px;
                    }
                    &:last-child {
                        padding-right: 40px;
                    }
                }
            }
            
        }
    }
    .text {
        margin-bottom: 0;
    }
}