.button-blue {
    background-color: $button-blue-background-color;
    color: $button-blue-text-color;
    &:hover {
        background-color: lighten($button-blue-background-color, 5%);
    }
}

.button-orange {
    background-color: $tertiary-color;
    color: $button-blue-text-color;
    &:hover {
        background-color: lighten($tertiary-color, 5%);
    }
}

.button-turqoise-rectangular {
    background-color: $button-turqoise-background-color;
    color: $button-turqoise-text-color;
    padding: 0 40px;
    &:hover {
        background-color: lighten($button-turqoise-background-color, 5%);
    }
}

.button-orange-rectangular {
    background-color: $tertiary-color;
    color: $button-turqoise-text-color;
    padding: 0 40px;
    &:hover {
        background-color: lighten($tertiary-color, 5%);
    }
}

.button-primary-rectangular {
    background-color: $primary-color;
    color: $button-turqoise-text-color;
    padding: 0 40px;
    &:hover {
        background-color: lighten($primary-color, 5%);
    }
}

.button-black-round {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: #fff;
    cursor: pointer;
}

.button-full-width-sticky-bottom {
    @extend .button-primary-rectangular;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button-white {
    text-decoration: none;
    color: #222222;
    border: 2px solid #222222;
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    text-align: center;
}

.button-gray-black {
    text-decoration: none;
    color: #5c5c5c;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgba(153, 153, 153, 0.2);
    &:hover {
        background-color: lighten(rgba(153, 153, 153, 0.2), 5%);
    }
}