/**
 * Used in pages:-
 * admin-dashboard.html
 * analyst-dashboard.html
 * analyst-profile.html
 */
.component-subheader-type-1 {
    background-color: $subheader-type-1-background-color;
    padding-top: 25px;
    padding-bottom: 30px;
    @media(max-width: 1024px) {
        margin-top: 40px;
    }
    .mdl-grid {
        padding-bottom: 0;
    }
    .search-bar-wrapper {
        .search-bar {
            // background-color: #fff;
            height: auto;
            width: 100%;
            position: relative;
            table {
                width: 100%;
                height: 50px;
            }
            form {
                width: 100%;
                background-color: #2c2c2c;
                margin-bottom: 0;
                height: 100%;
                border-bottom: 1px solid #1a1a1a;
            }
            #search-bar__search-options {
                color: $search-bar-menu-icon-color;
                .icon-show {
                    &.hide {
                        display: none;
                    }
                }
                .icon-hide {
                    &.hide {
                        display: none;
                    }
                }
            }
            .search-icon {
                color: #4a4a4a;
                position: absolute;
                top: 6px;
                left: 5px;
                font-size: 40px;
            }
            .search-bar-text-field-wrapper {
                width: 100%;
                padding-left: 50px;
                padding-right: 40px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .mdl-textfield {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    width: 100%;
                    .mdl-textfield__input {
                        color: rgba(92, 92, 92, 0.87);
                        margin: 0;
                        font-size: 30px;
                    }
                    .mdl-textfield__label {
                        color: rgba(92, 92, 92, 0.87);
                        margin: 0;
                        font-size: 30px;
                        margin: 0;
                        top: 4;
                        &:after {
                            display: none;
                        }
                    }
                }
            }

        }
    }
    .right-items {
        .item {
            color: $subheader-type-1-icons-color;
        }
        table {
            width: 100%;
            height: 50px;
            text-align: center;
        }
    }
}

