/**
 * Used in pages:-
 * admin-search.html
 */
.component-search-results {
    h3 {
        color: rgba(0,0,0,.54);
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 70px;
        text-align: left;
        border-bottom: 0;
    }
    .result {
        border-bottom: 1px solid #c8c8c8;
        margin-top: 30px;
        padding-bottom: 30px;
        .title {
            color: #1d4992;
            font-weight: bold;
            margin-bottom: 10px;
            text-decoration: underline;
        }
        .desc {
            color: #4a4a4a;
            font-size: 14px;
        }
    }
    
}