.component-settings {
    h3 {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        margin-top: 35px;
        border-bottom: 1px solid #e1e1e1;
        color: #5c5c5c;
    }
    .option {
        box-sizing: border-box;
        padding-left: 40px;
        margin-bottom: 25px;
        .name {
            justify-content: flex-start;
            p {
                margin-bottom: 0;
            }
        }
        .switch-wrapper {
            max-width: 70px;
            width: 100%;
        }
        &.level-2 {
            margin-top: -20px;
            padding-left: 80px;
        }
    }
}