.component-filter-bar {
    @extend .component-navbar;
    padding-bottom: 50px;
    box-shadow: none;
    padding-top: 50px;
    .component-filter-bar__filter-wrapper {
        max-width: 400px;
        width: 100%;
        position: relative;
    }
    .flex-col {
        &.border-right {
            border-right: 1px solid #1a1a1a;
        }
    }
    h3 {
        border-bottom: 0;
        text-align: left;
        padding-bottom: 0;
        color: #a2a2a2;
    }
    .getmdl-select {
        background-color: #2c2c2c;
        border-top: 0;
        border-left: 0;
        box-shadow: none;
        .mdl-icon-toggle__label {
            color: #a2a2a2;
        }
        .mdl-textfield__input {
            color: #a2a2a2;
        }
        &.is-focused {
            .mdl-textfield__input {
                background-color: #2c2c2c;
                color: #a2a2a2;
            }
        }
        &.without-right-border {
            border-right: 0;
        }
    }
    .mdl-menu__outline {
        background-color: #2c2c2c;
        color: #a2a2a2;
    }
    .mdl-menu__item {
        color: #a2a2a2;
        &:hover {
            color: #2c2c2c;
        }
    }
    .mdl-radio {
        margin-bottom: 18px;
        margin-top: 18px;
        .mdl-radio__ripple-container {
            .mdl-ripple {
                background: #00b8ae;
            }
        }
        &.is-checked {
            .mdl-radio__outer-circle {
                border-color: #00b8ae;
            }
            .mdl-radio__inner-circle {
                background: #00b8ae;
            }
        }
        .mdl-radio__label {
            color: #a2a2a2;
        }
    }
    
    .radio-filter {
        h3 {
            padding-left: 40px;
        }
    }
    &.hide {
        display: none;
    }
}