/**
 * Used in pages:-
 * analyst-dashboard.html
 */
.component-table-recent-scrapped-sites {
    @extend .abstract-white-box;
    @extend .abstract-table;
    >table {
        >thead {
            >tr {
                >th {
                    padding: 15px 15px 15px 40px;
                }
            }
        }
        >tbody {
            >tr {
                >td {
                    padding: 20px 40px;
                    &:first-child {
                        padding-left: 40px;
                    }
                    &:last-child {
                        padding-right: 40px;
                    }
                }
            }
            
        }
    }
    .status {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        &.status--paused {
            color: #f5a623;
        }
        &.status--processing {
            color: #4a90e2;
        }
        &.status--complete {
            color: #7ed321;
        }
        /* Following styles are used in site-scrapper.html */
        &.status--approved {
            color: #f5a623;
        }
        &.status--declined {
            color: #d0021b;
        }
        &.status--running {
            color: #4a90e2;
        }
    }
    .button {
        width: 100%;
        line-height: 40px;
        height: 40px;
        &.button-white {
            padding: 0;
            height: 36px;
            line-height: 36px;
        }
    }
}