/**
 * Used in pages:-
 * admin-dashboard.html
 */
.component-table-pending-scrapped-sites {
    @extend .abstract-table;
    @extend .abstract-white-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 110px;
    .th-approved-declined {
        text-align: center;
    }
    .text {
        padding-left: 30px;
    }
    .user {
        margin-bottom: 0px;
        padding: 0px;
        box-sizing: border-box;
        table {
            td {
                border-top: 0;
                border-bottom: 0;
                padding: 0;
            }
        }
        .name {
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 1em;
            color: #5c5c5c;
        }
        .title {
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 14px;
            color: #5c5c5c;
            font-weight: bold;
            line-height: 1em;
        }
        .user-image-wrapper-td {
            width: 40px;
        }
        .user-image-wrapper {
            position: relative;
            .status {
                position: absolute;
                top: -2px;
                left: 0px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #fff;
                &.status--online {
                    background-color: $users-list-status-online-color;
                }
                &.status--offline {
                    background-color: $users-list-status-offline-color;
                }
                &.status--away {
                    background-color: $users-list-status-away-color;
                }
            }
        }
    }
    .icon-wrapper {
        text-align: center;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon {
        font-size: 15px;
        border-radius: 50%;
        padding: 0px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }
    .icon-approved {
        @extend .icon;
        background-color: #56960c;
        box-shadow: 0 0 1px #56960c;
    }
    .icon-declined {
        @extend .icon;
        background-color: #d32b3f;
        box-shadow: 0 0 1px #d32b3f;
    }
}