/**
 * Used in pages:-
 * admin-profile.html
 */
.component-table-team-profiles {
    @extend .abstract-table;
    >table {
        >thead {
            >tr {
                >th {
                    padding: 15px 40px 15px 0px;
                    border: 0;
                    border-bottom: 1px solid #e3e3e3;
                    &.th-status {
                        text-align: center;
                    }
                }
            }
        }
    }
    .user {
        margin-bottom: 0;
        .name {
            margin-bottom: 0;
        }
    }
    .text {
        margin-bottom: 0;
    }
    .status {
        max-width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-wrapper {
        text-align: center;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}