/**
 * Used in pages:-
 * admin-profile.html
 * admin-search.html
 */
.component-subheader-type-2 {
    background-color: $subheader-type-1-background-color;
    @media(max-width: 1024px) {
        margin-top: 40px;
    }
    .mdl-grid {
        padding-bottom: 0;
    }
    .page-title {
        padding-left: 16px;
        h1 {
            font-size: 30px;
            color: #fff;
            text-transform: none;
        }
    }
}