/**
 * Used in pages:-
 * admin-search.html
 */
.component-search-results-bulk {
    h3 {
        color: rgba(0,0,0,.54);
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 70px;
        text-align: left;
        border-bottom: 0;
    }
    .checkbox-wrapper {
        max-width: 50px;
        align-items: flex-start;
        padding-top: 5px;
        padding-left: 5px;
        box-sizing: border-box;
    }
    .content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }
    .result {
        border-bottom: 1px solid #c8c8c8;
        margin-top: 30px;
        padding-bottom: 0px;
        .title {
            color: #1d4992;
            font-weight: bold;
            margin-bottom: 10px;
            text-decoration: underline;
        }
        .desc {
            color: #4a4a4a;
            font-size: 14px;
        }
        .file-download { 
            max-width: 140px;
            a {
                color: #4a90e2;
                text-decoration: none;
                i {
                    display: inline-flex;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                .text {
                    display: inline-flex;
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
        }
    }
    
}