/**
 * Used in pages:-
 * admin-dashboard.html
 */
.component-cards-collection {
    @extend .abstract-white-box;
    .image-card {
        width: 100%;
        height: 200px;
        overflow: visible;
        position: relative;
        &> .mdl-card__actions {
            height: 52px;
            padding: 10px;
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0); /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax */
            .title {
                margin-bottom: 5px;
                color: #fff;
                font-size: 16px;
                line-height: 1em;
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .author {
                margin-bottom: 0;
                color: #fff;
                font-size: 12px;
                line-height: 1em;
            }
            .option-button {
                position: absolute;
                right: 0;
                bottom: 0px;
                color: #ffffff;
                height: 50px;
                width: 40px;
                border-radius: 0;
                &:hover {
                    color: #9b9b9b;
                    background-color: #fff;
                }
            }
        }
        .component-image-card__filename {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
        .mdl-menu {
            .mdl-menu__item {
                color: rgba(0, 0, 0, 0.54);
                font-size: 12px;
                .mdl-menu__item-icon {
                    width: 30px;
                    min-width: 30px;
                    justify-content: flex-start;
                }
                .mdl-menu__item-text {
                    width: 80px;
                    min-width: 80px;
                    margin-left: 20px;
                    justify-content: flex-start;
                }
            }
        }
    }
    .view-all-card {
        width: 100%;
        height: 200px;
        overflow: visible;
        .view-all {
            @extend .button-orange-rectangular;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            p {
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
}