/**
 * Used in pages:-
 * analyst-profile.html
 */
.component-search-history-list {
    h2 {
        margin-bottom: 80px;
    }
    .item {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 20px;
        margin-top: 20px;
        .title-time-wrapper {
            justify-content: flex-start;
        }
        .button-wrapper {
            max-width: 155px;
            width: 100%;
        }
        .title {
            font-size: 16px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 0;
        }
        .time {
            font-size: 12px;
            color: #c8c8c8;
            margin-bottom: 0;
        }
    }
}