/**
 * Used in pages:-
 * admin-search.html
 */

$white: rgba(254, 255, 250, 1);
$grey: rgba(220, 231, 235, 1);
$red: rgba(255, 104, 115, 1);
$black: rgba(48, 69, 92, 0.8);
$important-color: #b00d21;
$sans: 'Titillium Web', sans-serif;

.component-facets {
    h3 {
        text-align: center;
        border: 0;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 25px;
    }
    .accordion {
        .mdl-checkbox.is-upgraded {
            padding-left: 0px;
        }
        .transition {
            transition: all 0.25s ease-in-out;
        }
        .flipIn {
            animation: flipdown 0.5s ease both;
        }
        .no-select {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .content {
            color: $black;
            font-size: 17px;
            line-height: 40px;
            letter-spacing: 1px;
            position: relative;
            overflow: hidden;
            max-height: 800px;
            box-sizing: border-box;
            padding-left: 30px;
            padding-right: 10px;
            @extend .transition;
            opacity: 1;
            transform: translate( 0, 0);
            z-index: 2;
            padding-top: 40px;
            .item-checkbox {
                line-height: 1em;
                margin-bottom: 26px;
                .item-name {
                    color: #4a4a4a;
                    justify-content: flex-start;
                    font-size: 16px;
                }
                .checkbox {
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
        .security-checkboxes {
            .item-checkbox {
                .item-name {
                    color: $important-color;
                    font-weight: bold;
                }
            }
        }
        ul {
            list-style: none;
            perspective: 900;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                padding: 0;
                margin: 0;
                padding: 20px 0px;
                border-top: 1px dotted $grey;
                @extend .flipIn;
                &:nth-of-type(1) {
                    animation-delay: 0.5s;
                }
                &:nth-of-type(2) {
                    animation-delay: 0.75s;
                }
                &:nth-of-type(3) {
                    animation-delay: 1.0s;
                }
                &:last-of-type {
                    padding-bottom: 0;
                }
                .title {
                    color: #9b9b9b;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 0;
                    text-align: left;
                    box-sizing: border-box;
                    padding-left: 30px;
                    font-family: Helvetica, Arial, sans-serif;
                    letter-spacing: 1px;
                    text-transform: none;
                    @extend .no-select;
                }
                i {
                    position: absolute;
                    transform: translate( -6px, 0);
                    margin-top: 3px;
                    right: 0;
                    margin-right: 40px;
                    &:before,
                    &:after {
                        content: "";
                        @extend .transition;
                        position: absolute;
                        background-color: #9b9b9b;
                        width: 3px;
                        height: 9px;
                    }
                    &:before {
                        transform: translate( -2px, 0) rotate( 45deg);
                    }
                    &:after {
                        transform: translate( 2px, 0) rotate( -45deg);
                    }
                }
                input[type=checkbox] {
                    position: absolute;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    &:checked {
                        &~.content {
                            margin-top: 0;
                            max-height: 0;
                            opacity: 0;
                            transform: translate( 0, 50%);
                            padding-top: 0px;
                        }
                        &~i {
                            &:before {
                                transform: translate( 2px, 0) rotate( 45deg);
                            }
                            &:after {
                                transform: translate( -2px, 0) rotate( -45deg);
                            }
                        }
                    }
                }
            }
        }
        @keyframes flipdown {
            0% {
                opacity: 0;
                transform-origin: top center;
                transform: rotateX(-90deg);
            }
            5% {
                opacity: 1;
            }
            80% {
                transform: rotateX(8deg);
            }
            83% {
                transform: rotateX(6deg);
            }
            92% {
                transform: rotateX(-3deg);
            }
            100% {
                transform-origin: top center;
                transform: rotateX(0deg);
            }
        }
    } // .accordion
    .red-checkboxes {
        padding: 0 10px 0 30px;
        margin-top: 30px;
        .item-checkbox {
            line-height: 1em;
            margin-bottom: 26px;
            .item-name {
                color: $important-color;
                justify-content: flex-start;
                font-size: 16px;
            }
            .checkbox {
                width: 100%;
                max-width: 30px;
            }
        }
    }
}
.mdl-checkbox.is-checked
{
    .mdl-checkbox__tick-outline {
        background: $secondary-color;
  }
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid $secondary-color;
}