/**
 * Used in all the pages.
 */
.component-navbar {
    background-color: $navbar-background-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29);
    .mdl-layout__header-row {
        height: 70px;
        padding-right: 0;
        .profile-badge {
            background-color: #3d3d3d;
            padding-left: 20px;
            .notification-icon-wrapper {
                padding: 0px;
                .notification-icon {
                    padding: 0px;
                    margin-right: 10px;
                    color: $profile-badge-icon-color;
                    &[data-badge]:after {
                        top: 0px;
                        left: -6px;
                        background-color: $profile-badge-notification-icon-background-color;
                        color: $profile-badge-notification-icon-text-color;
                        width: 14px;
                        height: 14px;
                        font-size: 8px;
                        border-radius: 50%;
                    }
                }
            }
            .help-icon-wrapper {
                padding: 0px;
                .help-icon {
                    color: $profile-badge-icon-color;
                }
            }
        }
        .mdl-layout-title {
            margin-right: 20px;
            .logo-image {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
        .mdl-navigation {
            height: 70px;
            .mdl-badge[data-badge]:after {
                top: -1px;
                left: -31px;
                border-radius: 2px;
                background-color: $navbar-badge-background-color;
                color: $navbar-badge-text-color;
                width: 16px;
                height: 16px;
                font-size: 8px;
            }
            .mdl-navigation__link {
                // text-transform: uppercase;
                line-height: 70px;
                color: #c8c8c8;
                &.has-badge {
                    // width: 50px;
                    padding: 0 0 0 50px;
                    // font-size: 12px;
                }
                &.active {
                    color: #fff;
                    background-color: $secondary-color;
                }
            }
        }
    }
}