/**
 * Used in pages:-
 * admin-dashboard.html
 */
.component-users-list {
    @extend .abstract-white-box;
    position: relative;
    padding: 40px 0 60px 0;
    h2 {
        margin-bottom: 40px;
    }
    .user {
        margin-bottom: 30px;
        padding: 0 40px;
        box-sizing: border-box;
        table {
            td {
                border-top: 0;
                border-bottom: 0;
                padding: 0;
            }
        }
        .name {
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 1em;
            color: #5c5c5c;
        }
        .title {
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 14px;
            color: #5c5c5c;
            font-weight: bold;
            line-height: 1em;
        }
        .user-image-wrapper-td {
            width: 40px;
        }
        .user-image-wrapper {
            position: relative;
            .status {
                position: absolute;
                top: -2px;
                left: 0px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #fff;
                &.status--online {
                    background-color: $users-list-status-online-color;
                }
                &.status--offline {
                    background-color: $users-list-status-offline-color;
                }
                &.status--away {
                    background-color: $users-list-status-away-color;
                }
            }
        }
    }
    .add-button {
        position: absolute;
        bottom: 35px;
        right: 35px;
        z-index: 2;
    }
    .view-all {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 1;
        border: 0;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
}