/**
 * Used in pages:-
 * admin-profile.html
 * analyst-profile.html
 */

.component-sidebar {
    padding: 0;
    margin: 0;
    .item {
        p {
            font-size: 16px;
            margin-bottom: 0;
            padding: 20px 0 20px 60px;
            a {
                text-decoration: none;
                color: #000;
            }
        }
        &.active {
            width: 100%;
            a {
                color: $tertiary-color;
                font-weight: bold;
            }
        }
    }
}
