.component-map-dialog {
    max-width: 900px;
    width: 100%;
    padding: 0;
    .title-wrapper {
        background-color: $secondary-color;
        padding: 20px 20px 20px 50px; 
        .heading {
            justify-content: flex-start;
            .mdl-dialog__title {
                margin-top: 0;
                font-size: 16px;
                color: #fff;
                box-sizing: border-box;
                padding: 0;
            }
        }
        .close-button {
            max-width: 50px;
            width: 100%;
            cursor: pointer;
            color: #fff;
        }
    }
    
}

/**
 * ----------------------------------------------------------------------------
 * flex-grid
 * ----------------------------------------------------------------------------
 */
.flex-grid {
	display: flex;
    >.flex-col {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/**
 * ----------------------------------------------------------------------------
 * component-chart
 * ----------------------------------------------------------------------------
 */
.component-chart {
    background-color: $secondary-color;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    box-sizing: border-box;
    h2 {
        color: white;
    }
}

/**
 * ----------------------------------------------------------------------------
 * component-big-number-wrapper
 * ----------------------------------------------------------------------------
 */
.component-big-number-wrapper {
    margin-left: -40px;
    margin-right: -40px;
    background-color: $primary-color;
    padding: 40px 0;
    .inner-wrapper {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .vertical-line-wrapper {
        width: 1px;
        max-width: 1px;
        position: relative;
        .vertical-line {
            height: 40px;
            position: absolute;
            top: 50px;
            @media (min-width: 1025px) {
                border-right: 1px solid #1b5090;
            }
        }
    }
    .big-number {
        text-align: center;
        text-transform: uppercase;
        .big-number__number {
            font-size: 60px;
            line-height: 60px;
            color: #ffffff;
            margin-bottom: 0px;
        }
        .big-number__desc {
            font-size: 12px;
            color: white;
            font-weight: bold;
        }
    }
}

/**
 * ----------------------------------------------------------------------------
 * component-collection-item
 * ----------------------------------------------------------------------------
 */
.component-collection-item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
    table {
        width: 100%;
        .title {
            font-size: 16px;
            color: #000;
            margin-bottom: 0;
        }
        .author {
            color: rgba(92, 92, 92, 0.87);
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .button-column {
            text-align: right;
        }
    }
}

/**
 * ----------------------------------------------------------------------------
 * layout-dual-column
 * ----------------------------------------------------------------------------
 */
.layout-dual-column {
    overflow: hidden;
    position: relative;
    .column-one {
        @extend .abstract-white-box;
        padding: 0;
        padding-top: 20px;
        margin: 0;
        float: left;
        width: 300px;
        height: 100%;
        box-shadow: 3px 0 20px rgba(0,0,0,.24);
        position: absolute;
        left: 0;
        top: 0;
    }
    .column-two {
        float: left;
        width: 100%;
        padding-left: 350px;
        padding-top: 40px;
        padding-right: 40px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        h2 {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.54);
            text-align: left;
            font-weight: bold;
        }
    }
}

/**
 * ----------------------------------------------------------------------------
 * component-pagination
 * ----------------------------------------------------------------------------
 */
.component-pagination {
    margin-top: 30px;
    .prev {
        max-width: 100px;
        width: 100%;
        font-size: 12px;
        .flex-grid {
            text-decoration: none;
            color: #4a90e2;
        }
    }
    .next {
        max-width: 100px;
        width: 100%;
        font-size: 12px;
        text-decoration: none;
        .flex-grid {
            text-decoration: none;
            color: #4a90e2;
        }
    }
    .pages {
        font-size: 14px;
        color: #a2a2a2;
        font-weight: bold;
    }
}

/**
 * ----------------------------------------------------------------------------
 * component-vertical-floating-bar
 * ----------------------------------------------------------------------------
 */
.component-vertical-floating-bar {
    position: fixed;
    bottom: 90px;
    right: 70px;
    .icon-closed {
        display: block;
    }
    .icon-open {
        display: none;
    }
    &.is-open {
        .icon-closed {
            display: none;
        }
        .icon-open {
            display: block;
        }
    }
    .tray {
        display: none;
        &.show {
            display: block;
        }
    }
    .button {
        margin-bottom: 25px;
        box-shadow: 0 2px 4px rgba(0,0,0,.29);
        margin-left: auto;
    }
}

/**
 * ----------------------------------------------------------------------------
 * switch-turqoise
 * ----------------------------------------------------------------------------
 */

 .switch-green {
    &.mdl-switch.is-checked {
        .mdl-switch__thumb {
            background: $active-color;
        }
        .mdl-switch__track {
            background: $active-color + 40;
        }
        .mdl-switch__ripple-container .mdl-ripple.is-visible {
            background: $active-color + 40;
        }
    }
    &.mdl-switch {
        .mdl-switch__ripple-container .mdl-ripple {
            background: $active-color;
        }
    }
}

.switch-turqoise {
    &.mdl-switch.is-checked {
        .mdl-switch__thumb {
            background: $switch-turqoise-color;
        }
        .mdl-switch__track {
            background: $switch-turqoise-bar-color;
        }
        .mdl-switch__ripple-container .mdl-ripple.is-visible {
            background: $switch-turqoise-ripple-color;
        }
    }
    &.mdl-switch {
        .mdl-switch__ripple-container .mdl-ripple {
            background: $switch-turqoise-ripple-color;
        }
    }
}

.analyst-my-data-tabs {
    background-color: #fff;
    height: 100%;
    .mdl-tabs__tab-bar {
        justify-content: flex-start;
        height: 90px;
        padding-left: 40px;
        border-bottom: 1px solid #9b9b9b;
        box-shadow: 0px 0px 1px #9b9b9b;
        .mdl-tabs__tab {
            height: 90px;
            line-height: 90px;
        }
    }
    &.is-upgraded {
        .mdl-tabs__tab.is-active:after {
            background: #00b9af;
        }
    }
    .component-table-recent-scrapped-sites {
        box-shadow: none;
    }
}

.component-drag-and-drop-box {
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 200px;
    flex-direction: column;
    h2 {
        font-size: 16px;
        color: #5c5c5c;
        margin-bottom: 30px;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        line-height: 1.5em;
        text-align: center;
        margin-bottom: 30px;
        color: #5c5c5c;
    }
}