$gray1: #393939;
$gray2: #4a4a4a;
$gray3: #5a5a5a;
$gray4: #928f8e;
$gray5: #a0a0a0;
$gray6: #eeeeee;
$gray7: #c8c8c8;
$gray8: #424242;

$color1: $gray1;
$color2: $gray2;
$color3: $gray3;
$color4: $gray4;
$color5: $gray5;
$color6: $gray6;

$turqoise: rgba(0, 185, 175, 1);
$ocean-blue: #1D61C2;
$primary-color: #114C7B;
$secondary-color: #16609C;
$tertiary-color: #E87A43;
$active-color: #56960c;
$additional-color: #2C2C2C;
$body-background-color: #eeeeee;

// Component navbar
$navbar-background-color: #2c2c2c;
$navbar-badge-background-color: #c8c8c8;
$navbar-badge-text-color: #000;
$navbar-active-background-color: $turqoise;

// Component profile badge
$profile-badge-notification-icon-background-color: #d0021b;
$profile-badge-icon-color: #fff;
$profile-badge-notification-icon-text-color: #fff;

// Component subheader type 1
$subheader-type-1-background-color: #2c2c2c;
$subheader-type-1-icons-color: $gray7;

// Component button dark
$button-dark-background-color: $gray1;
$button-dark-text-color: $gray7;

// Component button gray
$button-gray-background-color: $gray5;
$button-gray-text-color: #fff;

// Component button turqoise
$button-turqoise-background-color: $turqoise;
$button-turqoise-text-color: #fff;

// Component button blue
$button-blue-background-color: #1d61c2;
$button-blue-text-color: #fff;

// Component turqoise switch
$switch-turqoise-color: $turqoise;
$switch-turqoise-bar-color: rgba($turqoise, .5);
$switch-turqoise-ripple-color: rgba($turqoise, .5);

// Component search bar menu icon color
$search-bar-menu-icon-color: #fff;

// Component users list
$users-list-status-online-color: #7ed321;
$users-list-status-offline-color: #9b9b9b;
$users-list-status-away-color: #f5a623;