// Configurations
@import 'variables';
@import 'abstracts';
@import 'buttons';
@import 'small-components';
@import 'component-navbar';
@import 'component-filter-bar';
@import 'component-settings';
@import 'component-subheader-type-1';
@import 'component-subheader-type-2';
@import 'component-table-recent-scraped-sites';
@import 'component-table-team-profiles';
@import 'component-sidebar';
@import 'component-search-history-list';
@import 'component-facets';
@import 'component-users-list';
@import 'component-cards-collection';
@import 'component-table-pending-scraped-sites';
@import 'component-search-results';
@import 'component-search-results-bulk';
body {
    background-color: $body-background-color;
    &.white {
        background-color: #fff;
    }
    &.landing {
        h1 {
            font-size: 90px;
            margin-bottom: 10px;
            text-align: center;
            color: $ocean-blue;
        }
        h2 {
            text-align: left;
            color: $gray1;
            margin-top: 30px;
        }
        span {
            font-size: 25px;
            text-align: center;
            display: block;
            margin: 0 auto;
            color: $navbar-active-background-color;
        }
        a {
            color: $ocean-blue;
        }
        hr {
            &.top {
                margin-top: 60px;
            }
            &.bottom {
                margin-bottom: 60px;
            }
        }
        .project-overview {
            width: 100%;
            padding: 20px 100px;
            dl {
                width: 100%;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                dt {
                    text-align: right;
                    vertical-align: top;
                    display: inline-table;
                    margin-right: 24px;
                    line-height: 2em;
                    font-size: 22px;
                    color: $gray3
                }
                dd {
                    text-align: left;
                    line-height: 1.5em;
                    vertical-align: top;
                    width: 700px;
                    margin: 0 0 0 24px;
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    &.ux-research {
        .mdl-layout__content {
            padding: 0;
            width: 100%;
        }
        .section--center {
            max-width: 900px;
            margin-top: 50px;
        }
        ul {
            font-size: 18px;
            line-height: 40px;
        }
        .mdl-card {
            width: 900px;
            margin: 50px auto;
            min-height: 140px;
            display: block;
            .mdl-card__supporting-text {
                font-size: 18px;
                margin-top: 7px;
            }
            .mdl-card__title {
                border-bottom: 1px solid #ccc;
                .mdl-card__title-text {
                    color: $ocean-blue;
                    height: 30px;
                    margin-top: 10px;
                    font-weight: 700;
                }
            }
        }
    }
    &.style-guide {
        .mdl-layout__content {
            padding: 0;
            width: 100%;
        }
    }
    &.research-and-design {
        background: white;
        .mdl-button--colored {
            background: $primary-color;
            &:hover {
                background: $primary-color + 20;
            }
        }
/*         .mdl-layout {
            .mdl-layout__drawer {
                display: block;
                margin-left: 250px;
            }
            &.is-upgraded {
                .mdl-layout__drawer {
                    display: none;
                }
            }
        } */
        .material-icons {
            margin-top: 11px;
        }
        hr {
            color: $gray6;
            background: $gray6;
            height: 1px;
            border: 0;
            width: 100%;
            margin-top: 30px;
        }
        h1 {
            text-align: center;
            font-size: 45px;
        }
        .mdl-layout__drawer {
    /*         width: 300px; */
            a {
                font-size: 15px;
                font-weight: bold;
            }
            hr {
                margin-top: 0px;
            }
            span {
                line-height: 44px;
            }
            .mdl-navigation {
                padding-top: 0;
                span {
                    margin-left: 39px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .mdl-navigation__link {
                    &.is-active {
                        background-color: #e0e0e0;
                        color: $ocean-blue;
                    }
                }
            }
        }
        .mdl-layout {
            .mdl-layout__header-row,
            .mdl-layout__drawer-button {
                background: $primary-color;
            }
            &.is-small-screen {
                .rd-content {
                    margin-left: 0;
                }
            }
        .mdl-layout__content {
            margin-left: 0px;
        }
        .rd-content {
            border-radius: 2px;
            padding-top: 20px;
            margin-left: 240px;
            margin-bottom: 80px;
            h2 {
                text-align: left;
                font-size: 22px;
                font-weight: bold;
                color: $gray8;
            }
            h3 {
                text-align: left;
                font-size: 30px;
                text-decoration: none;
                border: none;
            }
            p,
            li {
                font-size: 17px;
                color: $gray4;
                font-weight: normal;
                max-width: 85%;
            }
            .style-guide-color {
                width: 125px;
                height: 125px;
                margin: 15px 25px 30px 40px;
                float: left;
            }
            .primary-color {
                background: $primary-color;
                margin-left: 0;
            }
            .secondary-color {
                background: $secondary-color;
            }
            .tertiary-color {
                background: $tertiary-color;
            }
            .additional-color {
                background: $additional-color;
            }
            .primary-font {
                font-size: 55px;
                margin-top: 40px;
            }
        }
    }
            }
}

p {
    // font-size: 16px;
    // margin: 0;
    // line-height: 1em;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    font-size: 16px;
    color: #cccccc;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    text-align: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #c8c8c8;
    line-height: 1em;
}

.mdl-layout__content {
    padding: 0 40px;
}

.user-small-round-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.component-item-checkbox {
    margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button {
        /* Hide the Hamburger button but will leave an unused space */
        display: none;
    }
    .mdl-layout__header-row {
        /* so important to make sure the Hamburger button didn't leave an unused space */
        padding-left: 24px !important;
    }
}

.mdl-layout__content--no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.getmdl-select {
    cursor: pointer;
    width: auto;
    border: 1px solid rgba(132, 132, 132, 0.16);
    padding: 0;
    border-radius: 2px;
    border: 1px solid rgba(132,132,132,.16);
    box-shadow: 0 2px 1px rgba(0,0,0,.24);
    overflow: visible;
    background-color: #ffffff;
    &.no-border-box-shadow-by-default {
        border: 0;
        box-shadow: none;
    }
    &.no-background-color-by-default {
        background-color: transparent;
    }
    .mdl-menu__container {
        // position: static;
        background-color: #ffffff;
        height: auto !important;
        // .mdl-menu {
        //     background-color: #fff;
        //     position: static;
        //     display: none;
        // }
        // &.is-visible {
        //     .mdl-menu {
        //         display: block;
        //     }
        // }
    }
    .mdl-textfield__input {
        cursor: pointer;
        padding: 20px;
        border-bottom: 0;
    }
    .mdl-icon-toggle__label {
        margin-top: -44px;
        margin-right: 10px;
    }
    .mdl-menu__outline {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
        border-radius: 0 !important;
        // display: none;
    }
    &.is-focused {
        border: 1px solid rgba(132, 132, 132, .16);
        box-shadow: 0 3px 4px -1px rgba(0,0,0,.24);
        .mdl-textfield__input {
            background-color: #ffffff;
        }
    }
}

.filter-wrapper {
    margin: 30px 60px 0px 30px;
    text-align: right;
    position: relative;
    z-index: 9999;
}

.getmdl-select-wrapper {
    height: 60px;
}

.add-a-site-form-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 100px;
    .scrape-immediate-checkbox {
        padding-left: 20px;
        width: 100%;
    }
    .mdl-textfield__input {
        padding-bottom: 10px; 
        padding-left: 20px;
        padding-top: 10px;
        &.border-right {
            border-right: 1px solid #e3e3e3;
        }
    }
    .mdl-textfield__label {
        padding-left: 20px;
    }
    .getmdl-select-wrapper {
        width: 100%;
        border-bottom: 1px solid #e3e3e3;
        height: 45px;
        margin-bottom: 20px;
        margin-top: 20px;
        .getmdl-select {
            width: 100%;
            border: 0;
            box-shadow: none;
            .mdl-textfield__input {
                // padding-left: 0;
            }
            .mdl-icon-toggle__label {
                margin-top: -35px;
            }
            &.is-focused {
                border: 1px solid rgba(132, 132, 132, .16);
                box-shadow: 0 3px 4px -1px rgba(0,0,0,.24);
                .mdl-textfield__input {
                    background-color: #ffffff;
                }
            }
        }
        &.border-right {
            border-right: 1px solid #e3e3e3;
        }
        &.padding-left {
            padding-left: 10px; 
        }
    }
    .mdl-textfield {
        width: 100%;
    }
    .submit-button {
        margin-top: 50px;
    }
}