.section-quotation {
    padding: 150px 0;
    .container {
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        justify-content: center;
        .quote-content {
            text-align: center;
            width: 78%;
            .quote-text {
              margin-bottom: 50px;
              p {
                font-size: 24px;
              }
            }
            .quote-author {
              h3 {
                font-weight: bold;
              }
            }
            .quote-author-role {
              h3 {
                color: #7f7c7b;
                font-weight: $font_primary_medium
              }
            }
        }
        .quote-mark {
          font-family: $font_secondary;
          position: relative;
          top: -20px;
          color: $purple;
          p {
            font-size: 150px;
            line-height: 1em;
          }
          &:first-child {
            margin-right: 20px;
          }
          &:last-child {
            margin-left: 20px;
          }
        }
    }
}
