.section-menu-overlay {
  background-size: cover;
  background-position: center center;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: none;
  &.show {
    display: block;
  }
  .overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    overflow: auto;
    .logo {
      .logo__image {
        width: 220px;
        @media (min-width: 500px) {
          width: 360px;
        }
      }
    }
    .menu-container {
      .nav-item {
        font-weight: $font_primary_light;
        color: #fff;
        margin-bottom: 50px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        &.active {
          font-weight: $font_primary_bold;
          color: #fff524;
        }
        &:hover {
          font-weight: $font_primary_bold;
          color: #fff524;
        }
      }
    }
    .menu-button-close {
      position: absolute;
      top: 0px;
      right: 35px;
      color: #fff;
      height: 50px;
      width: 50px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @media (min-width: 500px) {
        top: 20px;
      }
    } // .menu-button
    .logo {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 50px;
    } // .logo
  } // .contents
}
