.section-our-services {
    padding: 0px 0;
    .inner {
        h2 {
            text-align: center;
            font-weight: $font_primary_medium;
                        color: $blue;
            font-size: 25px;
                        @media (min-width: 768px) {
                                        font-size: 30px;
                        }
        }
        .text {
            text-align: center;
            max-width: 750px;
            margin: 25px auto 0 auto;
            font-size: 14px;
            @media (min-width: 768px) {
                font-size: 18px;
            }
            &.text--offer {
                font-family: $font_primary;
                font-weight: $font_primary_regular;
            }
        }
        .services-item-list {
            margin: 60px auto 0 auto;
                        @media (min-width: 768px) {
            margin: 150px auto 0 auto;
            }
            p {
                font-size: 14px;
                margin-bottom: 3px;
                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }
            .service-item {
                &:last-child {
                    .service-item__inner {
                        margin: 0;
                    }
                }
                .service-item__inner {
                    margin: 0 0 40px 0;
                    text-align: center;
                                  @media (min-width: 768px) {
                                        margin: 0 0 100px 0;
                                    }
                    h3 {
                        font-weight: bold;
                        margin: 0 0 15px 0;
                        color: $blue;
                    }
                } // .service-item__inner
            } // .service-item
        } // .services-item-list
    }
}
