.section-hero {
  position: relative;
  height: 430px;
  overflow: hidden;
  background-color: $white;
  color: $blue;
        @media (min-width: 768px) {
          height: 500px;
            border-bottom: 30px solid white;
              background-color: $blue;
  color: $white;
}
  .logo {
    margin: 30px 0 0 0;
    .logo__image {
      width: 220px;
      @media (min-width: 500px) {
        width: 250px;
      }
    }
    .logo__text {
      font-family: $font_secondary;
      text-transform: uppercase;
      font-size: 30px;
      color: $white;
    }
  }
  .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    /* background-color: $purple; */
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content {
    margin: 115px 0 0 0;
    max-width: 100%;
    text-align: left;
            @media (min-width: 768px) {
                  margin: 170px 0 0 0;
            }
    .heading {
      position: relative;
      margin: 0 0 30px 0;
      padding: 0 0 30px 0;
/*       border-bottom: 5px solid #000; */
      h1 {
        font-family: $font_secondary;
        font-weight: $font_primary_medium;
        font-size: 20px;
        margin: 0 auto;
        letter-spacing: 2px;
        width: 88%;
        @media (min-width: 500px) {
          font-size: 42px;
               width: 70%;
        }
/*         .rotating-words {
          display: inline;
          text-align: center;
          overflow: hidden;
          span {
            background: $white;
            padding: 15px;
            &.animate {
              position: relative;
              display: inline;
              color: pink;
              overflow: hidden;
            }
          }
            &.rotating-words-1 {
                          color: $pastel-blue;
            }
            &.rotating-words-2 {
                          color: $sky-blue;
            }

        } */
      }
      .big-amp {
        position: absolute;
        top: 0px;
        left: 143px;
        font-size: 101px;
        font-weight: 200;
        line-height: 1em;
        margin: 0;
        color: $purple;
        @media (min-width: 500px) {
          left: 240px;
          font-size: 153px;
        }
      }
    } // .heading
    .text {
      font-family: $font_secondary;
      font-size: 37px;
      letter-spacing: 3px;
      margin: 0 auto;
      max-width: 800px;
      width: 90%;
      .highlighted {
        font-weight: 400;
        font-family: $font_primary;
        color: $purple;
      }// .highlighted
    } // .text
  } // .content
}