.section-who-we-work-with {
    padding: 100px 0;
    background-color: $purple-dark;
    color: #fff;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: $font_primary_medium;
    }
    .text {
        margin-top: 100px;
        @media (min-width: 992px) {
          display: flex;
        }
        >div {
          margin-bottom: 50px;
          @media (min-width: 992px) {
            display: flex;
            margin-bottom: 0;
          }
          &:last-child {
              .text-column {
                  border-right: none;
              }
          }
        }
        .text-column {
            padding: 0 20px;
            box-sizing: border-box;
            border-right: 1px solid #341A74;
            height: 100%;
              @media (min-width: 1024px) {
                  padding: 0 10px;
              }
              @media (min-width: 1200px) {
                  padding: 0 35px;
              }
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}
