.section-contact-us {
    padding: 0 0 25px 0;
    background: $blue;
    color: $white;
    .btn-primary {
        background: $sky-blue;
        &.hvr-outline-out:before {
            border: 4px solid $sky-blue;
        }
    }
    .inner {
        padding: 50px;
        h2 {
            color: $white;
            font-size: 25px;
            margin-bottom: 25px;
            font-weight: $font_primary_medium;
            @media (min-width: 768px) {
                font-size: 30px;
            }
        }
        p {
            margin-bottom: 50px;
            width: 100%;
            @media(min-width: 768px) {
                width: 70%;
            }
            @media(min-width: 1440px) {
                width: 60%;
            }
        }
        .phone,
        .email {
            h3 {
                color: $white;
                font-weight: $font_primary_bold;
            }
            p {
                margin-bottom: 25px;
            }
        }
        /*     .btn-primary {
      background: $blue;
    } */
    }
    .form-control {
        border-radius: 0;
        padding: 20px;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-weight: $font_primary_medium;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-weight: $font_primary_medium;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-weight: $font_primary_medium;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-weight: $font_primary_medium;
        }
    }
    .form-status {
        &.form-status-info {
            display: block;
            &.hide {
                display: none;
            }
            p {
                margin: 0 0 15px 0;
            }
            .progress {
                margin-bottom: 0;
            }
        }
        &.form-status-success {
            display: block;
            &.hide {
                display: none;
            }
        }
        &.form-status-fail {
            display: block;
            &.hide {
                display: none;
            }
        }
    }
}
