    .section-about-us {
            padding: 0;
            background: $white;
            position: relative;
            .container {
                    padding-top: 100px;
                    display: none;
                    @media (min-width: 768px) {
                            display: block;
                            padding-top: 50px;
                    }
            }
            .btn-wrapper {
                    width: 100%;
                    position: absolute;
                    top: -175px;
                    display: block;
                    z-index: 2;
                    font-family: $font_secondary;
                    @media (min-width: 768px) {
                            top: -75px;
                    }
                    .hvr-outline-out:before {
                            border: 4px solid $white;
                            @media (min-width: 768px) {
                                    border: 5px solid $white;
                            }
                    }
                    .btn-wrapper--left {
                            width: 100%;
                            float: left;
                            @media (min-width: 768px) {
                                    position: relative;
                                    width: 33%;
                                    float: left;
                            }
                    }
                    .btn-wrapper--middle {
                            width: 100%;
                            float: left;
                            @media (min-width: 768px) {
                                    width: 33%;
                                    float: left;
                            }
                    }
                    .btn-wrapper--right {
                            width: 100%;
                            float: left;
                            @media (min-width: 768px) {
                                    width: 33%;
                                    float: left;
                            }
                    }
                    .btn {
                            padding: 20px 30px;
                            font-size: 14px;
                            letter-spacing: 3px;
                            font-weight: $font_secondary_regular;
                            width: 100%;
                            @media (min-width: 768px) {
                                    padding: 30px 60px;
                                    font-size: 18px;
                                    width: auto;
                            }
                    }
                    .btn-portfolio {
                            float: left;
                            margin-right: 0px;
                            background: $sky-blue;
                            color: $white;
                            @media (min-width: 768px) {
                                    padding: 25px;
                                    font-size: 14px;
                                    float: none;
                                    display: block;
                                    margin: 0 auto;
                                    width: 80%;
                                    text-align: center;
                            }
                            @media (min-width: 1024px) {
                                     font-size: 18px;
                            }
                    }
                    .btn-code {
                            float: left;
                            margin-right: 0px;
                            background: $sky-blue;
                            color: $white;
                            @media (min-width: 768px) {
                                    padding: 25px;
                                    font-size: 14px;
                                    float: none;
                                    display: block;
                                    margin: 0 auto;
                                    width: 80%;
                                    text-align: center;
                            }
                            @media (min-width: 1024px) {
                                    font-size: 18px;
                                }
                    }
                    .btn-resume {
                            float: left;
                            margin-left: 0px;
                            background: $sky-blue;
                            color: $white;
                            @media (min-width: 768px) {
                                    padding: 25px;
                                    font-size: 14px;
                                    float: none;
                                    display: block;
                                    margin: 0 auto;
                                    width: 80%;
                                    text-align: center;
                            }
                            @media (min-width: 1024px) {
                                    font-size: 18px;
                            }
                    }
            } //.btn-wrapper
            h2 {
                    text-align: center;
                    margin: 0;
                    font-family: $font_secondary;
                    font-weight: $font_secondary_bold;
                    color: $blue;
                    display: block;
                    width: 100%;
                    font-size: 25px;
                    @media (min-width: 768px) {
                            text-align: left;
                            font-size: 30px;
                    }
                    &.areas-of-expertise {
                            float: right;
                            margin-top: 60px;
                    }
            }
            .leading-text {
                    margin: 40px 0 0 0;
                    float: left;
                    display: block;
                    width: 100%;
                    p {
                            text-align: left;
                            max-width: 600px;
                            font-size: 20px;
                            @media (min-width: 992px) {
                                    max-width: 750px;
                            }
                    }
            } // .text
            .areas-of-expertise--description {
                    width: 100%;
                    display: block;
                    padding-top: 40px;
                    position: relative;
                    clear: both;
                    .left-col,
                    .right-col {
                            float: left;
                            padding: 0px 15px 35px 15px;
                            width: 100%;
                            @media (min-width: 992px) {
                                    width: 45%;
                                    float: left;
                            }
                            & div:first-child {
                                    margin-bottom: 35px;
                            }
                    }
                    .left-col {
                            margin-right: 5%;
                            .img {
                                    height: 275px;
                                    background: url("https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e15/11078976_362328460638753_658012310_n.jpg");
                                    background-position: 50%;
                                    background-size: cover;
                            }
                    }
                    .right-col {
                            margin-right: 5%;
                            .img {
                                    height: 350px;
                                    background: url("https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/12070909_895547187193802_1018540624_n.jpg");
                                    background-size: cover;
                            }
                    }
                    .text {
                            border: 4px solid $blue;
                            height: auto;
                            padding: 25px;
                            h3 {
                                    font-family: $font_secondary;
                                    font-family: $font_secondary_bold;
                                    font-size: 25px;
                                    color: $light-gray;
                                    margin-bottom: 15px;
                            }
                            p {
                                    font-size: 18px;
                            }
                    }
                    .img {
                            background: $blue;
                    }
            } // .areas-of-expertise--description
            .box-container {
                    margin: 90px 0 0 0;
                    @media (min-width: 992px) {
                            display: flex;
                    }
                    .box {
                            .inner {
                                    color: #fff;
                                    background-color: #000;
                                    box-sizing: border-box;
                                    padding: 30px;
                                    height: 100%;
                                    margin-bottom: 50px;
                                    @media (min-width: 992px) {
                                            margin-bottom: 0;
                                    }
                                    h3 {
                                            margin: 0;
                                            font-size: 18px;
                                            letter-spacing: 2px;
                                            line-height: 1em;
                                            font-weight: bold;
                                            min-height: 50px;
                                            max-width: 180px;
                                    }
                                    p {
                                            font-size: 20px;
                                            margin: 40px 0 0 0;
                                    }
                            } // .inner
                    } // .box
            } // .box-container
    } // .section-about-us
