.section-clients-and-partners {
  // background-image: url(../img/section-clients-and-partners.jpg);
  background-size: cover;
  background-position: 100% 0;
  position: relative;
/*   background-image: url(../img/section-clients-and-partners.jpg); */
  .cut-ribbon {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    .ribbon-right {
      height: 50px;
      width: 50%;
      background-color: transparent;
      border-left: 80px solid transparent;
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom: 50px solid $purple-dark;
    }
    .ribbon-left {
      height: 50px;
      width: 50%;
      background-color: transparent;
      border-right: 80px solid transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 50px solid $purple-dark;
    }
  }
  .inner {
    height: 100%;
    width: 100%;
    background-color: rgba($white, 1);
    padding: 55px 0 25px 0;
                 @media(min-width: 768px) {
    padding: 115px 0 0 0;
      }
    .logo-container {
      padding: 30px 0 0 0;
                       @media(min-width: 768px) {
      padding: 100px 0 0 0;
      }
      .logo {
        height: 122px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
                 @media(min-width: 768px) {
        margin-bottom: 100px;
      }
        img {
          max-width: 180px;
          max-height: 100%;
                                 @media(min-width: 768px) {
          max-width: 250px;
      }
        }
        .text-logo {
          font-size: 30px;
          font-family: $font_primary;
          font-weight: $font_primary_regular;
          color: #7c6eb2;
          .text-logo__bold {
            font-weight: $font_primary_bold;
          }
        }
      }
    }
  }
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba($purple-dark, 0.7);
  // }
  h2 {
     text-align: center;
            margin: 0;
            font-family: $font_secondary;
            font-weight: $font_secondary_bold;
            color: $blue;
            display: block;
            width: 100%;
            font-size: 20px;
         @media(min-width: 768px) {
     text-align: left;
         font-size: 30px;
      }
    span {
      font-weight: $font_primary_light;
    }
  }
}
