.section-portfolio {
    padding: 40px 0;
    overflow: hidden;
    @media (min-width: 768px) {
        padding: 175px 0;
    }
        &.section-portfolio-wrapper {
          @media (min-width: 768px) {
        padding-top: 60px;
    }
    }
    .container {
        h2 {
            text-align: center;
            margin: 0;
            font-family: $font_secondary;
            font-weight: $font_secondary_bold;
            color: $blue;
            display: block;
            width: 100%;
            font-size: 25px;
            padding: 0px 0 60px 0;
            @media (min-width: 768px) {
                text-align: left;
                font-size: 30px;
                padding-top: 90px;
            }
        }
    }
    .inner {
        .portfolio {
            @media (min-width: 992px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .portfolio__info {
                color: $gray;
                text-align: left;
                max-width: 400px;
                margin: 0 auto;
                .portfolio__category {
                    font-family: $font_primary;
                    text-transform: uppercase;
                    font-size: 15px;
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                    font-weight: $font_primary_light;
                    max-width: 300px;
                    @media (min-width: 768px) {
                        font-size: 16px;
                    }
                }
                .portfolio__title {
                    color: $gray;
                    font-family: $font_secondary;
                    font-weight: $font_secondary_bold;
                    margin-bottom: 50px;
                    font-size: 20px;
                    @media (min-width: 768px) {
                        font-size: 30px;
                    }
                }
                .portfolio__desc {
                    font-size: 14px;
                    font-family: $font_primary;
                    margin-bottom: 50px;
                    max-width: 466px;
                    width: 100%;
                    @media (min-width: 768px) {
                        font-size: 16px;
                    }
                }
                .portfolio__view-buton {
                    margin: 50px auto 0 auto;
                    display: block;
                    background: $white;
                    color: $blue;
                    font-size: 14px;
                    font-family: $font_primary;
                    font-weight: $font_primary_medium;
                    @media (min-width: 768px) {
                        font-size: 16px;
                    }
                    @media (min-width: 992px) {
                        margin: 0;
                        display: inline-block;
                    }
                }
            } // .portfolio__info
            .portfolio__image {
                text-align: center;
                &.portfolio__image--prc {
                    @media (min-width: 992px) {
                        margin-top: -60px;
                    }
                }
                >img {
                    width: 100%;
                    @media (min-width: 992px) {
                        width: 100%;
                    }
                }
            } // .portfolio__image
        } // .portfolio
    } // .inner
    &.section-portfolio-roqos {
        .portfolio__image {
            position: relative;
            .front-image {
                position: relative;
                top: 0;
                right: -183px;
                z-index: 999;
            }
            .back-image {
                position: absolute;
                top: 30px;
                right: 140px;
            }
        }
    } // &.section-portfolio-roqos
    &.section-portfolio-uhy {}
    // &.section-portfolio-uhy
    &.section-portfolio-alqimi {
        .inner {
            .portfolio {
                .portfolio__image {
                    text-align: left;
                    position: relative;
                    left: -15px;
                }
            }
        }
    } // &.section-portfolio-alqimi
    &.section-portfolio-ntir {
        .inner {
            .portfolio {
                .portfolio__image {
                    text-align: right;
                    position: relative;
                    right: -15px;
                }
            }
        }
    }
} // .section-portfolio
.modal {
    .modal-dialog {
        .modal-close-button {
            background: white;
            span {
                top: -2px;
                font-size: 23px;
                font-weight: $font_primary_regular;
                color: $purple;
            }
        } // .modal-close-button
    } // .modal-dialog
} // .modal
.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .8;
    background: $purple-dark;
}
