//Colors
$white: #fff;
$purple: #361980;
$red: #CC2A41;
$teal: #1693A5;
$purple-dark: #1F1045;
$yellow: #fff400;
$blue: #0D409D;
$sky-blue: #2A92C7;
$pastel-blue: #2A62C7;
$gray: #4C4B4B;
$light-gray: #8A8A8A;
// Primary Font
$font_primary: 'Raleway',
sans-serif;
$font_primary_light: 300;
$font_primary_regular: 400;
$font_primary_medium: 500;
$font_primary_bold: 700;
// Secondary Font
$font_secondary: 'Karla', sans-serif;
$font_secondary_regular: 400;
$font_secondary_bold: 700;
html,
body {
    font-family: $font_primary;
    font-weight: $font_primary_light;
    color: $gray;
    &.disable-scroll {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
}

body {
    border: 15px solid $white;
        @media(min-width: 768px) {
            border: 30px solid $blue;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    letter-spacing: 3px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

h3 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container {
    @media(min-width: 1450px) {
        width: 1400px;
    }
}

.btn {
    padding: 20px 40px;
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
}

.btn-primary {
    color: #fff;
    background-color: $purple;
    &:hover {
        background-color: $purple;
    }
    &.hvr-outline-out:before {
        border: $purple solid 4px;
    }
}

.modal {
    .modal-dialog {
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        max-width: 1400px;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0 auto;
        .modal-close-button {
            right: -15px;
            top: -15px;
            position: absolute;
            z-index: 99999;
            color: #fff;
            width: 30px;
            height: 30px;
            background-color: #000;
            border-radius: 50%;
            opacity: 1;
            >span {
                font-size: 30px;
                line-height: 1em;
                position: relative;
                top: -1px;
            }
        }
        .modal-content {
            height: 100%;
            border-radius: 0;
            display: inline-block;
            width: auto;
            margin: 0 auto;
            .modal-body {
                height: 100%;
                display: inline-block;
                width: auto;
                padding: 0;
                .carousel {
                    height: 100%;
                    display: inline-block;
                    width: auto;
                    .carousel-inner {
                        height: 100%;
                        display: inline-block;
                        width: auto;
                        >.item {
                            height: 100%;
                            width: auto;
                            background-color: #000;
                            >img {
                                height: 100%;
                                margin: 0;
                                width: auto;
                                max-width: none;
                            } // >img
                        } // >.item
                    } // .carousel-inner
                } // .carousel
            } // .modal-body
        } // .modal-content
    } // .modal-dialog
} // .modal
.navbar {
    /*   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22); */
    box-shadow: none;
    border: none;
    background: $blue;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    &.hide {
        display: none;
    }
    .navbar-header {
        .navbar-toggle {
            border-radius: 0 !important;
            background: $white;
            margin: 15px;
            border: $white;
            .icon-bar {
                background-color: $blue !important;
            }
        }
    }
    .navbar-nav {
        >li {
            padding: 0px 15px 25px 0px;
            display: block;
            >a,
            >a:visited {
                text-align: center;
                color: $white !important;
                display: block;
                &:hover {
                    background-color: transparent;
                    font-weight: $font_primary_regular;
                    color: $white;
                    border-bottom: 1px solid $white;
                }
                @media (min-width: 768px) {
                    text-align: left;
                    padding-top: 30px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }
            }
            &.active {
                >a,
                >a:focus,
                >a:hover,
                >a:visited {
                    background-color: transparent;
                    font-weight: $font_primary_regular;
                    color: $white;
                    border-bottom: 1px solid $white;
                }
            }
        }
    } // .navbar-nav
    .navbar-brand {
        font-family: $font_secondary;
        text-transform: uppercase;
        font-size: 30px;
        color: $white;
        margin-left: 0;
        &:hover {
          color: $white;
        }
                    padding: 20px 15px;
        @media (min-width: 768px) {
            padding: 30px 15px;
        }
        .logo__image {
            width: 220px;
            @media (min-width: 340px) {
                width: 250px;
            }
        }
        .logo__text {
            font-family: $font_secondary;
            text-transform: uppercase;
            font-size: 30px;
        }
    } // .navbar-brand
}

//Text selection color
::selection {
    background: $purple;
    /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: $purple;
    /* Gecko Browsers */
    color: white;
}

//Change the breakpoint for the menu collapsing
  @media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }

@import 'section_hero';
@import 'section_about_me';
@import 'section_menu_overlay';
@import 'section_clients_and_partners';
@import 'section_who_we_work_with';
@import 'section_quotation';
@import 'section_footer';
@import 'section_contact_us';
@import 'section_our_services';
@import 'section_portfolio';
